@import "leaflet/dist/leaflet.css";
body.light { background: #f5f5f5; color: #222; }
body.dark { background: #121212; color: #f5f5f5; }

body.azul { --main-color: #007bff; }
body.violeta { --main-color: #7b2cbf; }
body.verde { --main-color: #28a745; }

body.normal { font-size: 16px; }
body.grande { font-size: 18px; }
body.extra-grande { font-size: 20px; }

button, a { color: var(--main-color); }
